In [1]:
import scipy.stats as stats
import pandas as pd
import numpy as np
import time
import os
import nltk
from nltk.corpus import stopwords
import re
from collections import Counter
import itertools
import keras
from keras.utils import np_utils
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from keras.models import Sequential
from keras.layers import LSTM, Input, Dense
from keras.preprocessing import sequence
from keras.layers import Dense, Dropout, Embedding
from keras.utils.np_utils import to_categorical
from keras import regularizers
from keras.models import Model, load_model
from keras import backend as K
from keras.callbacks import ModelCheckpoint, TensorBoard
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import keras_metrics
import sklearn
import pandas as pd
import numpy as np
import pickle
from keras.wrappers.scikit_learn import KerasClassifier
from keras.layers import RepeatVector, TimeDistributed, Flatten
from keras import initializers, optimizers
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from functools import reduce
import operator
from keras.callbacks import Callback

# import scikitplot as skplt
from sklearn import metrics
import sys
import collections
import pickle
from time import time
import matplotlib

matplotlib.use("Agg")
from matplotlib import pyplot as plt
import logging
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score
import random
from scipy.ndimage import convolve
from sklearn import linear_model, datasets, metrics
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture
from sklearn.svm import OneClassSVM
from sklearn.mixture import GaussianMixture
from sklearn.neighbors import LocalOutlierFactor
from sklearn.covariance import MinCovDet
from sklearn.covariance import EmpiricalCovariance
from sklearn.cluster import DBSCAN
from sklearn.cluster import AgglomerativeClustering
from sklearn.covariance import EllipticEnvelope
from sklearn.cluster import Birch
from sklearn.mixture import BayesianGaussianMixture
from sklearn.ensemble import IsolationForest
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [2]:
# print(
#     "------------------------------------------------------------------------"
# )
# start = time()
# print("Start")
# print(
#     "------------------------------------------------------------------------"
# )

# # Load dataset
# path = "D:/Log dataset/BGL/"

# # load csv dataset
# # dataset = pd.read_csv('D:/PhD/Thesis PhD/DS/OpenStack/final/neg/openstack_neg.csv', encoding='latin1')
# # print(dataset.head())
# data = pd.read_table(path + "BGL_pos.txt", header=None)
# # print (data.head())
# columns = data.shape[0]
# dataset = data.assign(Sentiment=np.ones(columns, dtype=int))
# # print (df2.head())
# dataset.columns.values[0] = "Summary"
# print(dataset.head())

# data1 = pd.read_table(path + "BGL_neg.txt", header=None)
# # print (data.head())
# columns = data1.shape[0]
# dataset1 = data1.assign(Sentiment=np.zeros(columns, dtype=int))
# # print (df2.head())
# dataset1.columns.values[0] = "Summary"
# print(dataset1.head())

# dataset = dataset.append(dataset1)
# dataset.head()
# length_df = dataset.shape[0]


# # Helper Functions for Text Cleaning
# # String cleaning for dataset
# def string_cleaner(sentences):

#     # Remove "1" from Openstack data set only.
#     sentences = re.sub(r"1", "", sentences)
#     sentences = re.sub(r"-", "", sentences)
#     sentences = re.sub(r",", " , ", sentences)
#     sentences = re.sub(r":", "", sentences)
#     sentences = re.sub(r"[^A-Za-z0-9(),!?\'\`]", " ", sentences)
#     sentences = re.sub(r"\?", "", sentences)
#     sentences = re.sub(r"/", "", sentences)
#     sentences = re.sub(r"\s{2,}", " ", sentences)
#     sentences = re.sub(r"\'s", " 's", sentences)
#     sentences = re.sub(r"\'ve", " 've", sentences)
#     sentences = re.sub(r"n\'t", " n't", sentences)
#     sentences = re.sub(r"\'re", " 're", sentences)
#     sentences = re.sub(r"!", " ! ", sentences)
#     sentences = re.sub(r"\(", "", sentences)
#     sentences = re.sub(r"\)", "", sentences)
#     sentences = re.sub(r"\'d", " 'd", sentences)
#     sentences = re.sub(r"\'ll", " 'll", sentences)
#     # print (sentences)
#     return sentences.strip().lower()


# dataset["Summary"] = dataset["Summary"].apply(string_cleaner)

# # count word frequency for dataset
# word_frequency = {}


# def word_frequncy_maker(col):
#     datasetx = col["Summary"]
#     # tokenize each word in dataset
#     tokenize = nltk.wordpunct_tokenize(datasetx)
#     tokenize_list = []
#     for tokenz in tokenize:
#         tokenize_list.append(tokenz.lower())
#         if tokenz.lower() in word_frequency:
#             cnt = word_frequency[tokenz.lower()]
#             cnt += cnt
#             word_frequency[tokenz.lower()] = cnt
#         else:
#             word_frequency[tokenz.lower()] = 1
#     return ",".join(tokenize_list)


# """            
# #remove numbers from sentences
# def remove_numerics(col):
#     datasetx = col["Summary"]
#     if type(datasetx) not in [int,float]:
#         each_line = re.sub(r"[^A-Za-z\s]", " ", datasetx.strip())
#         tokenize = each_line.split()
#     else:
#         tokenize = []
#     return ' '.join(tokenize)

# """

# # get sentences, remove numbers, get word frequency, tokenize it and merge similar words
# similarity_word_reduce = WordNetLemmatizer()


# def get_ds(dataset):
#     datasetx = dataset
#     datasetx["Summary"] = datasetx
#     datasetx["tokenize"] = datasetx.apply(word_frequncy_maker, axis=1)
#     # print ("dataset head in received", datasetx.head())
#     n = []
#     for i in datasetx["tokenize"]:
#         list = []
#         for j in i.split(","):
#             list.append(similarity_word_reduce.lemmatize(j))
#         n.append(" ".join(list))
#     datasetx["Summary_lemmatize"] = n
#     return datasetx["Summary_lemmatize"]


# dataset["Summary"] = get_ds(dataset[["Summary"]])

# # Cut sentences in dataset
# list_all = []
# sentence_len = 40
# for i in dataset.values:
#     if len(i[0]) <= sentence_len and len(i[0]) >= 1:
#         list_all.append([i[0], i[1]])

#         # print (len(i[0]))
#     elif len(i[0]) > sentence_len:
#         tmp = " ".join(i[0].split()[0:sentence_len])
#         # tmp=tmp[:200]
#         list_all.append([tmp, i[1]])

# # print("length of list and dataset in received func", len(list_all),len(dataset))
# # make our dataset again
# dataset = pd.DataFrame(list_all, columns=["Summary", "Sentiment"])
# # print("datasetset df, length  : \n", dataset.head())
# # print(dataset)
# print(
#     "number of positive sentences: ",
#     len(dataset[dataset["Sentiment"] == 1]),
#     " ,number of negative sentences: ",
#     len(dataset[dataset["Sentiment"] == 0]),
# )


# # load x and labels
# def load_x_y():
#     # Load dataset from files
#     # Split by words
#     x_all = dataset["Summary"].to_numpy()
#     x_all = [string_cleaner(sent) for sent in x_all]
#     print(
#         "x_test from 0 to 1 in load_x_y func: ", x_all[0]
#     )  # simply 2 sentences from datasetset which cleaned
#     x_all = [s.split(" ") for s in x_all]

#     y_all = dataset["Sentiment"].to_numpy()
#     return [x_all, y_all]


# load_x_y()
# # pad all sentences in case all sentences have the same length
# sentences_length = sentence_len


# def padding(sequences, pad="<PWD/>"):
#     padded_sentences = []
#     for i in range(len(sequences)):
#         sentence = sequences[i]
#         pad_no = sentences_length - len(sentence)
#         if pad_no <= 0:
#             tmp = sentence[0 : sentences_length - 1]
#             tmp.append(pad)
#             new_sequence = " ".join(tmp).split()
#         else:
#             new_sequence = sentence + [pad] * pad_no

#         padded_sentences.append(new_sequence)
#     # print ("padded_sentences and length of it in padding func",
#     # padded_sentences[0],len(padded_sentences[0]))
#     return padded_sentences


# # build vocabulary, word2index and index2word
# def vocab_builder(sequences):
#     word_cnt = Counter(itertools.chain(*sequences))
#     vocab_invariant = [x[0] for x in word_cnt.most_common()]
#     vocabs = {x: i for i, x in enumerate(vocab_invariant)}
#     # print("vocabs", vocabs)
#     # print("vocab_invariant", vocab_invariant)
#     return [vocabs, vocab_invariant]


# # map sentences
# def mapper(sequences, labels, vocabs):
#     # ye list besaz ba tavajo be index gozari tu tabe ghabli baraye har jomle
#     x = np.array(
#         [[vocabs[str(word)] for word in sentence] for sentence in sequences]
#     )
#     y = np.array(labels)
#     return [x, y]


# # load x, labels, vocab and vocab invariants for final processing
# def dataset_loader():
#     sequences, labels = load_x_y()

#     print("x sequences 0 to 1 raw: ", sequences[0])
#     sentences_padded = padding(sequences)
#     # print("x sequences 0 to 1 after padding (sequence length): ", sequences_padded[0:2])
#     vocabs, vocab_invariant = vocab_builder(sentences_padded)
#     x, y = mapper(sentences_padded, labels, vocabs)
#     return [x, y, vocabs, vocab_invariant]


# dataset_loader()

# # Load data after preprocessing
# # start = time.time()
# print("Loading...")
# x, y, vocabs, vocab_invariant = dataset_loader()
# x = keras.preprocessing.sequence.pad_sequences(
#     x, maxlen=sentence_len, truncating="post", padding="post"
# )

# # print("vocab_invariant: ", vocab_invariant) #all sentences in one list: ['<PWD/>', 'film', ....
# print(
#     "vocabs size: {:d}".format(len(vocabs))
# )  # all sentences in one dictionary: {'<PWD/>': 0, 'film': 1, ....
# # print("vocabs : ", vocabs)
# print("x.shape: ", x.shape)
# print("y.shape: ", y.shape)
# print("x.dtype: ", x.dtype)

In [3]:
# x.shape
# pd.DataFrame(x).to_csv("./x.csv", index =False)
# pd.DataFrame(y).to_csv("./y.csv", index =False)

In [4]:
df = pd.read_csv('./bgl_saved_csv.csv')
x = df.iloc[:,1:41]
y = df['label']

In [5]:
# x = pd.read_csv("./x.csv")
# y = pd.read_csv("./y.csv")
# y.shape

In [6]:
x

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,663593,1,8,24,125,662,89,92,325288,125,...,0,0,0,0,0,0,0,0,0,0
1,663593,1,8,24,125,662,89,92,508908,125,...,0,0,0,0,0,0,0,0,0,0
2,663593,1,8,24,125,662,89,92,394937,125,...,0,0,0,0,0,0,0,0,0,0
3,663593,1,8,24,125,662,89,92,325289,125,...,0,0,0,0,0,0,0,0,0,0
4,663593,1,8,24,125,662,89,92,850862,125,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4747958,16239,394935,795,20,33,1580,394936,105,47,403693,...,0,0,0,0,0,0,0,0,0,0
4747959,16239,394935,795,20,33,2049,394936,105,47,377800,...,0,0,0,0,0,0,0,0,0,0
4747960,16239,394935,795,20,33,2520,394936,105,47,1353792,...,0,0,0,0,0,0,0,0,0,0
4747961,16239,394935,795,20,33,2355,394936,105,47,375919,...,0,0,0,0,0,0,0,0,0,0
4747962,16239,394935,795,20,33,2458,394936,105,47,741640,...,0,0,0,0,0,0,0,0,0,0

In [7]:
all_x = pd.DataFrame(x)
all_x["label"] = y
from sklearn.utils import shuffle
all_x=shuffle(all_x)
neg_first = all_x.loc[all_x["label"]==0][:10000]
all_left = all_x.drop(neg_first.index)

In [8]:
neg_first[neg_first["label"] == 0]
all_left[all_left["label"] == 1]

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,label
2990909,177051,1,16,32,158605,188,82,27,1081898,158605,...,0,0,0,0,0,0,0,0,0,1
1921404,86440,1,5,25,13698,173,31,98,707678,13698,...,0,0,0,0,0,0,0,0,0,1
1835334,114350,1,5,25,8765,312,10,105,446637,8765,...,0,0,0,0,0,0,0,0,0,1
3801466,67160,1,10,16,4529,658,25,33,1213524,4529,...,0,0,0,0,0,0,0,0,0,1
3593330,75921,1,10,33,3441,591,107,91,966914,3441,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2556977,55109,1,5,69,16094,809,46,43,606522,16094,...,0,0,0,0,0,0,0,0,0,1
2912766,79683,1,16,30,33261,165,64,20,605007,33261,...,0,0,0,0,0,0,0,0,0,1
4360325,1241905,1,15,30,81678,3844,122,53,1111924,81678,...,0,0,0,0,0,0,0,0,0,1
3361522,387614,1,27,32,1750,55219,83,89,212515,1750,...,0,0,0,0,0,0,0,0,0,1
1367742,103400,1,5,11,9587,351,84,78,293356,9587,...,0,0,0,0,0,0,0,0,0,1

In [9]:
# 155495
# all_left[all_left.index == 155495]

In [10]:
all_left["truth_"] = all_left["label"]
neg_first["truth_"] = neg_first["label"]

In [11]:
all_left

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,label,truth_
2990909,177051,1,16,32,158605,188,82,27,1081898,158605,...,0,0,0,0,0,0,0,0,1,1
1921404,86440,1,5,25,13698,173,31,98,707678,13698,...,0,0,0,0,0,0,0,0,1,1
1835334,114350,1,5,25,8765,312,10,105,446637,8765,...,0,0,0,0,0,0,0,0,1,1
3801466,67160,1,10,16,4529,658,25,33,1213524,4529,...,0,0,0,0,0,0,0,0,1,1
3593330,75921,1,10,33,3441,591,107,91,966914,3441,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2556977,55109,1,5,69,16094,809,46,43,606522,16094,...,0,0,0,0,0,0,0,0,1,1
2912766,79683,1,16,30,33261,165,64,20,605007,33261,...,0,0,0,0,0,0,0,0,1,1
4360325,1241905,1,15,30,81678,3844,122,53,1111924,81678,...,0,0,0,0,0,0,0,0,1,1
3361522,387614,1,27,32,1750,55219,83,89,212515,1750,...,0,0,0,0,0,0,0,0,1,1
1367742,103400,1,5,11,9587,351,84,78,293356,9587,...,0,0,0,0,0,0,0,0,1,1

In [12]:
neg_first

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,label,truth_
4425504,100,496425,1,8,10,40,297,25,34,1108647,...,0,0,0,0,0,0,0,0,0,0
4688677,306,71995,1,11,35,40389,347,20,84,212423,...,0,0,0,0,0,0,0,0,0,0
4440094,100,497707,1,8,10,40,297,98,94,628501,...,0,0,0,0,0,0,0,0,0,0
4640023,306,279178,1,16,34,3918,1411,46,103,676792,...,0,0,0,0,0,0,0,0,0,0
4595394,176,135569,1,8,19,25467,144,98,103,467042,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4566290,176,132734,1,8,25,48555,253,77,122,565370,...,0,0,0,0,0,0,0,0,0,0
4405086,100,494322,1,8,10,40,361,64,43,428886,...,0,0,0,0,0,0,0,0,0,0
4514962,100,848084,1,8,10,40,304,105,31,1249016,...,0,0,0,0,0,0,0,0,0,0
4621442,596,141211,1,8,51,2441,1244,92,88,1160630,...,0,0,0,0,0,0,0,0,0,0
4674807,259,249492,1,11,8,1878,1313,47,67,666518,...,0,0,0,0,0,0,0,0,0,0

In [13]:
all_left["label"] = all_left["label"].replace([0,1], 1)
all_left[all_left["truth_"]==0]

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,label,truth_
4723684,200,845061,1,10,30,3151,1328,92,79,354276,...,0,0,0,0,0,0,0,0,1,0
4746724,200,850807,1,15,30,268,839,52,103,854809,...,0,0,0,0,0,0,0,0,1,0
4411312,100,494974,1,8,10,40,361,84,89,417601,...,0,0,0,0,0,0,0,0,1,0
4500665,100,502947,1,8,10,40,303,31,108,479719,...,0,0,0,0,0,0,0,0,1,0
4706633,587,78447,1,10,19,158898,1575,46,97,732880,...,523,600,524,353,525,403,526,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4507460,100,658962,1,8,10,40,303,77,34,758470,...,0,0,0,0,0,0,0,0,1,0
4454851,100,498866,1,8,10,40,309,69,46,347212,...,0,0,0,0,0,0,0,0,1,0
4715927,901,849467,1,10,67,3567,1497,25,5,335800,...,0,0,0,0,0,0,0,0,1,0
4734497,200,508801,1,15,47,2862,4318,10,25,1118391,...,0,0,0,0,0,0,0,0,1,0
4467633,100,657174,1,8,10,40,302,20,43,470830,...,0,0,0,0,0,0,0,0,1,0

In [14]:
all_left[all_left['truth_']==1]

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,label,truth_
2990909,177051,1,16,32,158605,188,82,27,1081898,158605,...,0,0,0,0,0,0,0,0,1,1
1921404,86440,1,5,25,13698,173,31,98,707678,13698,...,0,0,0,0,0,0,0,0,1,1
1835334,114350,1,5,25,8765,312,10,105,446637,8765,...,0,0,0,0,0,0,0,0,1,1
3801466,67160,1,10,16,4529,658,25,33,1213524,4529,...,0,0,0,0,0,0,0,0,1,1
3593330,75921,1,10,33,3441,591,107,91,966914,3441,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2556977,55109,1,5,69,16094,809,46,43,606522,16094,...,0,0,0,0,0,0,0,0,1,1
2912766,79683,1,16,30,33261,165,64,20,605007,33261,...,0,0,0,0,0,0,0,0,1,1
4360325,1241905,1,15,30,81678,3844,122,53,1111924,81678,...,0,0,0,0,0,0,0,0,1,1
3361522,387614,1,27,32,1750,55219,83,89,212515,1750,...,0,0,0,0,0,0,0,0,1,1
1367742,103400,1,5,11,9587,351,84,78,293356,9587,...,0,0,0,0,0,0,0,0,1,1

In [15]:
x = all_left.loc[:, all_left.columns != 'label']
x = x.loc[:, x.columns != 'truth_']

y = all_left[["label", "truth_"]]

In [16]:
x_neg_first_ = neg_first.loc[:, neg_first.columns != 'label']
x_neg_first = x_neg_first_.loc[:, x_neg_first_.columns != 'truth_']
y_neg_first = neg_first[["label", "truth_"]]
y_neg_first[y_neg_first["truth_"]==0]

         label  truth_
4425504      0       0
4688677      0       0
4440094      0       0
4640023      0       0
4595394      0       0
...        ...     ...
4566290      0       0
4405086      0       0
4514962      0       0
4621442      0       0
4674807      0       0

[10000 rows x 2 columns]

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.99, shuffle =True)

In [18]:
y_orig = pd.concat([y_neg_first['truth_'], y_train['truth_']])
print(y_orig)

x_train_df_pu = pd.concat([x_neg_first, X_train])
y_train_df_pu = pd.concat([y_neg_first['label'], y_train['label']])
y_train_df_pu

4425504    0
4688677    0
4440094    0
4640023    0
4595394    0
          ..
597676     1
301382     1
2592679    1
2353487    1
2391713    1
Name: truth_, Length: 57379, dtype: int64

4425504    0
4688677    0
4440094    0
4640023    0
4595394    0
          ..
597676     1
301382     1
2592679    1
2353487    1
2391713    1
Name: label, Length: 57379, dtype: int64

In [19]:
from sklearn.utils import shuffle

x_train_df_pu, y_train_df_pu= shuffle(x_train_df_pu, y_train_df_pu, random_state = 7)
_, y_orig = shuffle(x_train_df_pu, y_orig, random_state = 7)

In [20]:
# x_train_df = pd.DataFrame(X_train)
# y_train_df = pd.DataFrame(y_train)
# x_test_df = pd.DataFrame(X_test)
# y_test_df = pd.DataFrame(y_test)

In [21]:
# y_train_df[y_train_df['label'] == 1].shape

In [22]:
# x_train_df

In [23]:
# Check the contents of the set
# print('%d data points and %d features' % (x_train_df.shape))
# print('%d positive out of %d total' % (sum(y_train_df), len(y_train_df)))

In [24]:
# y_train_df['truth_']

In [25]:
x_train_df_pu

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
3639440,52656,1,10,33,3448,210,91,107,453387,3448,...,0,0,0,0,0,0,0,0,0,0
2919018,64259,1,16,30,169695,165,46,108,1065298,169695,...,0,0,0,0,0,0,0,0,0,0
3540706,48867,1,10,24,77226,137,98,30,1234003,77226,...,0,0,0,0,0,0,0,0,0,0
4043105,28933,1,15,20,195995,123,77,103,590659,195995,...,57,29,120,121,63,29,113,60,0,0
3860148,49061,1,10,11,3989,482,94,16,600838,3989,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4469227,100,499758,1,8,10,40,302,47,74,443708,...,0,0,0,0,0,0,0,0,0,0
498991,61656,1,8,19,8650,143,27,101,348782,8650,...,0,0,0,0,0,0,0,0,0,0
2387610,65370,1,5,31,26635,164,90,20,763123,26635,...,0,0,0,0,0,0,0,0,0,0
624727,82880,1,8,76,35129,780,78,89,234071,35129,...,0,0,0,0,0,0,0,0,0,0
330332,55779,1,8,19,12729,96,61,83,429073,12729,...,0,0,0,0,0,0,0,0,0,0

In [26]:
# y_train_df_pu[y_train_df_pu == 1] = 2
# len(y_train_df_pu[y_train_df_pu == 2])

In [27]:
len(y_train_df_pu[y_train_df_pu == 0] )

10000

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import IsolationForest
rf = RandomForestClassifier(
    n_estimators = 1000,  # Use 1000 trees
    n_jobs = -1           # Use all CPU cores
)
# y: 5700 ->0, 300 ->1
rf.fit(x_train_df_pu, y_train_df_pu)

# y_orig 3000 ->0, 3000 ->1
# Store the scores assigned by this approach
results = pd.DataFrame({
    'truth'      : y_orig,   # The true labels
    'label'      : y_train_df_pu,        # The labels to be shown to models in experiment
    'output_rf' : rf.predict_proba(x_train_df_pu)[:,1]   # The random forest's scores
}, columns = ['truth', 'label', 'output_rf'])

In [29]:
iso_f = IsolationForest(contamination=0.1)
iso_f.fit(x_train_df_pu, y_train_df_pu)
results['output_iso'] = iso_f.predict(x_train_df_pu)
results.head(50)

         truth  label  output_rf  output_iso
3639440      1      1      1.000           1
2919018      1      1      1.000          -1
3540706      1      1      1.000           1
4043105      1      1      1.000          -1
3860148      1      1      1.000           1
4604253      0      1      0.753           1
2760066      1      1      1.000          -1
456713       1      1      1.000           1
2455577      1      1      1.000           1
3647428      1      1      1.000           1
4620349      0      0      0.100           1
4640363      0      0      0.089           1
3082756      1      1      1.000           1
4488954      0      0      0.068           1
4483440      0      0      0.151           1
241056       1      1      1.000           1
2930576      1      1      1.000           1
1104295      1      1      1.000           1
722921       1      1      1.000           1
2445726      1      1      1.000           1
1299237      1      1      1.000           1
4164157      1      1      1.000           1
314944       1      1      1.000           1
1917971      1      1      1.000           1
1186719      1      1      1.000           1
4678287      0      0      0.089           1
4725388      0      0      0.157          -1
3532610      1      1      1.000           1
2465421      1      1      1.000           1
265929       1      1      1.000           1
4684822      0      1      0.734           1
3075910      1      1      1.000          -1
158687       1      1      1.000           1
4211774      1      1      1.000           1
1809419      1      1      1.000           1
3842009      1      1      1.000           1
2907800      1      1      1.000           1
2972505      1      1      1.000           1
1022510      1      1      1.000           1
4741499      0      1      0.734          -1
4731433      0      0      0.068          -1
4549915      0      0      0.055           1
3280714      1      1      1.000           1
4275515      1      1      1.000           1
4664662      0      1      0.774           1
341193       1      1      1.000           1
4723261      0      0      0.059          -1
4446923      0      0      0.039           1
4107691      1      1      1.000           1
4152582      1      1      1.000           1

In [30]:
results[results['output_iso'] == -1]
# results[results['output_iso'] == -1].to_csv("./data.csv")

         truth  label  output_rf  output_iso
2919018      1      1      1.000          -1
4043105      1      1      1.000          -1
2760066      1      1      1.000          -1
4725388      0      0      0.157          -1
3075910      1      1      1.000          -1
...        ...    ...        ...         ...
4332891      1      1      1.000          -1
180686       1      1      1.000          -1
4723998      0      0      0.081          -1
4745061      0      0      0.119          -1
4072430      1      1      1.000          -1

[5738 rows x 4 columns]

In [31]:
len(results.loc[(results['truth']== 0) & (results['label']== 2) & (results['output_iso']==-1)])

0

In [32]:
from pulearn import BaggingPuClassifier, WeightedElkanotoPuClassifier, ElkanotoPuClassifier
from sklearn.tree import DecisionTreeClassifier
bc = BaggingPuClassifier(
    DecisionTreeClassifier(), 
    n_estimators = 1000,  # 1000 trees as usual
    max_samples = y_train_df_pu[y_train_df_pu == 0].shape[0], # Balance the positives and unlabeled in each bag
    n_jobs = -1           # Use all cores
)
bc.fit(x_train_df_pu, y_train_df_pu)
results['output_bag_pu'] = bc.oob_decision_function_[:,1]

C:\Users\Fatemeh\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.ensemble.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)

In [33]:
# results.to_csv("./results.csv")

In [34]:
# results = pd.read_csv("./results.csv")

In [35]:
results.head(50)

         truth  label  output_rf  output_iso  output_bag_pu
3639440      1      1      1.000           1            NaN
2919018      1      1      1.000          -1            NaN
3540706      1      1      1.000           1            NaN
4043105      1      1      1.000          -1            NaN
3860148      1      1      1.000           1            NaN
4604253      0      1      0.753           1            NaN
2760066      1      1      1.000          -1            NaN
456713       1      1      1.000           1            NaN
2455577      1      1      1.000           1            NaN
3647428      1      1      1.000           1            NaN
4620349      0      0      0.100           1       0.127841
4640363      0      0      0.089           1       0.322581
3082756      1      1      1.000           1            NaN
4488954      0      0      0.068           1       0.231806
4483440      0      0      0.151           1       0.474227
241056       1      1      1.000           1            NaN
2930576      1      1      1.000           1            NaN
1104295      1      1      1.000           1            NaN
722921       1      1      1.000           1            NaN
2445726      1      1      1.000           1            NaN
1299237      1      1      1.000           1            NaN
4164157      1      1      1.000           1            NaN
314944       1      1      1.000           1            NaN
1917971      1      1      1.000           1            NaN
1186719      1      1      1.000           1            NaN
4678287      0      0      0.089           1       0.370968
4725388      0      0      0.157          -1       0.593407
3532610      1      1      1.000           1            NaN
2465421      1      1      1.000           1            NaN
265929       1      1      1.000           1            NaN
4684822      0      1      0.734           1            NaN
3075910      1      1      1.000          -1            NaN
158687       1      1      1.000           1            NaN
4211774      1      1      1.000           1            NaN
1809419      1      1      1.000           1            NaN
3842009      1      1      1.000           1            NaN
2907800      1      1      1.000           1            NaN
2972505      1      1      1.000           1            NaN
1022510      1      1      1.000           1            NaN
4741499      0      1      0.734          -1            NaN
4731433      0      0      0.068          -1       0.276423
4549915      0      0      0.055           1       0.337731
3280714      1      1      1.000           1            NaN
4275515      1      1      1.000           1            NaN
4664662      0      1      0.774           1            NaN
341193       1      1      1.000           1            NaN
4723261      0      0      0.059          -1       0.275773
4446923      0      0      0.039           1       0.162921
4107691      1      1      1.000           1            NaN
4152582      1      1      1.000           1            NaN

In [36]:
results['output_bag_pu'] = results['output_bag_pu'].fillna(1)

In [37]:
results.loc[(results['output_rf']==1) & (results['output_bag_pu']==1)][:50]

         truth  label  output_rf  output_iso  output_bag_pu
3639440      1      1        1.0           1            1.0
2919018      1      1        1.0          -1            1.0
3540706      1      1        1.0           1            1.0
4043105      1      1        1.0          -1            1.0
3860148      1      1        1.0           1            1.0
2760066      1      1        1.0          -1            1.0
456713       1      1        1.0           1            1.0
2455577      1      1        1.0           1            1.0
3647428      1      1        1.0           1            1.0
3082756      1      1        1.0           1            1.0
241056       1      1        1.0           1            1.0
2930576      1      1        1.0           1            1.0
1104295      1      1        1.0           1            1.0
722921       1      1        1.0           1            1.0
2445726      1      1        1.0           1            1.0
1299237      1      1        1.0           1            1.0
4164157      1      1        1.0           1            1.0
314944       1      1        1.0           1            1.0
1917971      1      1        1.0           1            1.0
1186719      1      1        1.0           1            1.0
3532610      1      1        1.0           1            1.0
2465421      1      1        1.0           1            1.0
265929       1      1        1.0           1            1.0
3075910      1      1        1.0          -1            1.0
158687       1      1        1.0           1            1.0
4211774      1      1        1.0           1            1.0
1809419      1      1        1.0           1            1.0
3842009      1      1        1.0           1            1.0
2907800      1      1        1.0           1            1.0
2972505      1      1        1.0           1            1.0
1022510      1      1        1.0           1            1.0
3280714      1      1        1.0           1            1.0
4275515      1      1        1.0           1            1.0
341193       1      1        1.0           1            1.0
4107691      1      1        1.0           1            1.0
4152582      1      1        1.0           1            1.0
1583894      1      1        1.0           1            1.0
1290068      1      1        1.0           1            1.0
690330       1      1        1.0           1            1.0
3660342      1      1        1.0           1            1.0
2640259      1      1        1.0           1            1.0
3449878      1      1        1.0           1            1.0
436137       1      1        1.0           1            1.0
1994483      1      1        1.0           1            1.0
572925       1      1        1.0           1            1.0
2439665      1      1        1.0           1            1.0
3371200      1      1        1.0           1            1.0
4210465      1      1        1.0           1            1.0
1364883      1      1        1.0           1            1.0
2591983      1      1        1.0           1            1.0

In [38]:
out_pu_1 = results.loc[(results['output_rf']==1) & (results['output_bag_pu']==1) & (results['output_iso']==1)]
out_pu_1[out_pu_1['truth'] == 0]

Empty DataFrame
Columns: [truth, label, output_rf, output_iso, output_bag_pu]
Index: []

In [39]:
results['truth']

3639440    1
2919018    1
3540706    1
4043105    1
3860148    1
          ..
4469227    0
498991     1
2387610    1
624727     1
330332     1
Name: truth, Length: 57379, dtype: int64

In [40]:
out_pu = out_pu_1.sample(frac=.3)
out_pu.index

Int64Index([ 334833,  362615,  144067,  305054,  565973, 3171885, 3302047,
             184908, 3292678, 3574634,
            ...
            2472611, 1222222, 2883602,  363620, 1410086, 1680742,  726783,
            1374210, 1000702, 1522426],
           dtype='int64', length=12352)

In [41]:
# get positive from pu and label them 1
x_train_out_pu_pos = x_train_df_pu.loc[out_pu.index]
y_train_out_pu_pos = y_train_df_pu.loc[out_pu.index]
# x_train_out_pu_pos['label'] = y_train_out_pu_pos
x_train_out_pu_pos['label'] = 1
x_train_out_pu_pos

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,label
334833,67734,1,8,19,12375,96,64,73,555027,12375,...,0,0,0,0,0,0,0,0,0,1
362615,53107,1,8,19,6380,96,79,33,1264530,6380,...,0,0,0,0,0,0,0,0,0,1
144067,101572,1,8,8,13212,580,31,93,689430,13212,...,0,0,0,0,0,0,0,0,0,1
305054,133727,1,8,19,12631,144,104,20,857397,12631,...,0,0,0,0,0,0,0,0,0,1
565973,745672,1,8,19,125,456,19,69,577993,125,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680742,94918,1,5,11,25827,167,19,122,436398,25827,...,0,0,0,0,0,0,0,0,0,1
726783,75618,1,8,46,24569,293,78,108,1126019,24569,...,0,0,0,0,0,0,0,0,0,1
1374210,108572,1,5,11,24639,351,89,84,925888,24639,...,0,0,0,0,0,0,0,0,0,1
1000702,102314,1,8,43,11567,278,75,51,527202,11567,...,0,0,0,0,0,0,0,0,0,1
1522426,121476,1,5,11,20949,216,82,90,377152,20949,...,0,0,0,0,0,0,0,0,0,1

In [42]:
# get negative from pu and label them 0

y_train_out_pu_neg = y_train_df_pu[y_train_df_pu == 0]
x_train_out_pu_neg = x_train_df_pu.loc[y_train_out_pu_neg.index]
x_train_out_pu_neg['label'] = y_train_out_pu_neg
x_train_out_pu_neg

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,label
4620349,694,53167,1,8,19,10531,143,52,73,826795,...,0,0,0,0,0,0,0,0,0,0
4640363,306,279189,1,16,34,19937,1411,77,69,676889,...,0,0,0,0,0,0,0,0,0,0
4488954,100,658131,1,8,10,40,302,106,104,348478,...,0,0,0,0,0,0,0,0,0,0
4483440,100,657896,1,8,10,40,302,77,25,549206,...,0,0,0,0,0,0,0,0,0,0
4678287,259,95581,1,11,16,2080,1601,27,8,578564,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4745061,200,663361,1,15,46,2468,1511,16,74,718536,...,0,0,0,0,0,0,0,0,0,0
4437277,100,393612,1,8,10,40,297,89,110,953872,...,0,0,0,0,0,0,0,0,0,0
4551495,100,661166,1,8,10,40,388,79,25,516375,...,0,0,0,0,0,0,0,0,0,0
4405704,100,494388,1,8,10,40,361,30,105,691834,...,0,0,0,0,0,0,0,0,0,0
4469227,100,499758,1,8,10,40,302,47,74,443708,...,0,0,0,0,0,0,0,0,0,0

In [43]:
train = pd.concat([x_train_out_pu_neg, x_train_out_pu_pos])
train = train.sample(frac=1.0)
train

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,label
1624215,83330,1,5,11,22625,383,11,19,780142,22625,...,0,0,0,0,0,0,0,0,0,1
4537631,100,506178,1,8,10,40,304,101,111,253625,...,0,0,0,0,0,0,0,0,0,0
1594166,108823,1,5,11,8986,500,106,73,235921,8986,...,0,0,0,0,0,0,0,0,0,1
4480917,100,500958,1,8,10,40,302,78,77,252691,...,0,0,0,0,0,0,0,0,0,0
235966,118128,1,8,25,38012,253,98,82,543280,38012,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996504,119676,1,8,43,16140,278,53,34,783538,16140,...,0,0,0,0,0,0,0,0,0,1
3929691,843357,1,10,67,268,543,101,110,1260789,268,...,0,0,0,0,0,0,0,0,0,1
227533,133364,1,8,25,2618,253,88,52,885035,2618,...,0,0,0,0,0,0,0,0,0,1
1213275,93180,1,5,24,21666,318,8,98,694246,21666,...,0,0,0,0,0,0,0,0,0,1
650752,56209,1,8,67,7316,522,19,53,1276160,7316,...,0,0,0,0,0,0,0,0,0,1

In [44]:
X_train = train.iloc[:, :x_train_df_pu.shape[1]]
y_train = train['label']
X_train

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
1624215,83330,1,5,11,22625,383,11,19,780142,22625,...,0,0,0,0,0,0,0,0,0,0
4537631,100,506178,1,8,10,40,304,101,111,253625,...,0,0,0,0,0,0,0,0,0,0
1594166,108823,1,5,11,8986,500,106,73,235921,8986,...,0,0,0,0,0,0,0,0,0,0
4480917,100,500958,1,8,10,40,302,78,77,252691,...,0,0,0,0,0,0,0,0,0,0
235966,118128,1,8,25,38012,253,98,82,543280,38012,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996504,119676,1,8,43,16140,278,53,34,783538,16140,...,0,0,0,0,0,0,0,0,0,0
3929691,843357,1,10,67,268,543,101,110,1260789,268,...,0,0,0,0,0,0,0,0,0,0
227533,133364,1,8,25,2618,253,88,52,885035,2618,...,0,0,0,0,0,0,0,0,0,0
1213275,93180,1,5,24,21666,318,8,98,694246,21666,...,0,0,0,0,0,0,0,0,0,0
650752,56209,1,8,67,7316,522,19,53,1276160,7316,...,0,0,0,0,0,0,0,0,0,0

In [52]:
model = Sequential()
model.add(Embedding(2000000, 10, input_length=X_train.shape[1]))
model.add(LSTM(128, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(1, activation='sigmoid'))

# try using different optimizers and different optimizer configs
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

print('Train...')
model.summary()
model.fit(X_train.to_numpy(), y_train.to_numpy(),
          batch_size=32,
          epochs=3,
          validation_split=0.1)
# score, acc = model.evaluate(x_test_df.to_numpy(), y_test_df.to_numpy(),
#                             batch_size=128)
# print('Test score:', score)
# print('Test accuracy:', acc)

Train...
Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_5 (Embedding)     (None, 40, 10)            20000000

 lstm_5 (LSTM)               (None, 128)               71168

 dense_5 (Dense)             (None, 1)                 129

=================================================================
Total params: 20,071,297
Trainable params: 20,071,297
Non-trainable params: 0
_________________________________________________________________
Epoch 1/3
629/629 [==============================] - 193s 303ms/step - loss: 0.0624 - accuracy: 0.9694 - val_loss: 0.0063 - val_accuracy: 0.9991
Epoch 2/3
629/629 [==============================] - 194s 308ms/step - loss: 0.0085 - accuracy: 0.9965 - val_loss: 0.0196 - val_accuracy: 0.9973
Epoch 3/3
629/629 [==============================] - 193s 307ms/step - loss: 0.0033 - accuracy: 0.9996 - val_loss: 0.0047 - val_accuracy: 0.9996

In [53]:
y_pred = model.predict(X_test.to_numpy())

In [54]:
y_pred = (y_pred > 0.5)

In [55]:
matrix = metrics.confusion_matrix(y_test["truth_"].values, y_pred)
matrix

array([[ 334836,     263],
       [   9248, 4346237]], dtype=int64)

In [56]:
print(classification_report(y_test["truth_"].values, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9731    0.9992    0.9860    335099
           1     0.9999    0.9979    0.9989   4355485

    accuracy                         0.9980   4690584
   macro avg     0.9865    0.9985    0.9925   4690584
weighted avg     0.9980    0.9980    0.9980   4690584